body {
  width: 768px;
  max-height: 510px;
  min-height: 300px;
  overflow-y: scroll;
  padding: 10px;
}

article header {
  font-weight: bold;
}

li.commit-message {
  list-style: none;
}

textarea.template {
  width: 100%;
  height:800px;
}

div.ace-editor {
  height: 380px;
}

.btn.pull-right {
  margin-right: 15px;
  margin-bottom: 15px;
}

.nav.nav-tabs li.active a, .nav.nav-tabs li:hover a {
  background-color: rgba(225, 231, 231, 0.48);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: none;
}

#email-container {
  overflow-y: scroll;
  max-height: 400px;
}
