body {
  width: 768px;
  max-height: 510px;
  min-height: 300px;
  overflow-y: scroll;
  padding: 1px;
}

.bill-infos {
  max-height: 398px;
  min-height: 300px;
  overflow-y: scroll;
}

article header {
  font-weight: bold;
}

li.commit-message {
  list-style: none;
}

textarea.template {
  width: 100%;
  height:800px;
}

div.ace-editor {
  height: 380px;
}

ul.btn.pull-right {
  margin-right: 15px;
  margin-bottom: 15px;
}

ul.nav.nav-tabs li.active a, .nav.nav-tabs li:hover a {
  /*background-color: rgba(225, 231, 231, 0.48);*/
}

ul.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: 1px solid transparent;
}

ul.nav.nav-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

ul.nav.nav-tabs > li {
  flex: 1;
}

ul.nav.nav-tabs > li:first-child {
  flex: 2;
}

.tab-content {
  border: 1px solid #dddddd;
  border-top: none;
  padding: 5px 5px;
  margin: 1px;
  margin-top: 0;
  min-height: 231px;
  clear: both;
}

#email-container {
  overflow-y: scroll;
  max-height: 398px;
}

#email-container a{
  text-decoration: underline;
}

.btn.pull-right + .btn.pull-right {
  margin-right: 15px;
}

p.no-stories {
  margin-bottom: 92px;
}
