body {
  width: 768px;
  overflow-x: scroll;
  padding: 10px;
}

article header {
  font-weight: bold;
}

li.commit-message {
  list-style: none;
}

div.tab-content {
  padding-top: 15px;
}

textarea.template {
  width: 100%;
  height:800px;
}
