<!doctype html>
<html ng-app='myModule' ng-csp>
  <head>
    <title>Pivotal Tracker Email Reporter</title>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="main.css"/>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/popup.js"></script>
  </head>
  <body ng-controller='prController as prCtrl'>
    <tabset>
      <tab>
        <tab-heading>
          Commit message
        </tab-heading>

        <section id='commit-messages'>
          <ul>
            <li class='commit-message' ng-repeat='todo in prCtrl.todos'>
              <div>[?] - {{todo.name}}</div>
              <div>[<a href="{{todo.url}}" target="_blank">{{todo.url}}</a>]</div>
              <br>
            </li>
          </ul>
        </section>
        <section>
          <button class="btn btn-primary" ng-click="prCtrl.copy('commit-messages')">Copy</button>
        </section>
      </tab>

      <tab>
        <tab-heading>
          Email
        </tab-heading>
        <section id="email-container">
          <div compile="prCtrl.template"></div>
        </section>
        <section>
          <button class="btn btn-default" ng-click="prCtrl.copy('email-container')">Copy</button>
          <button class="btn btn-primary" ng-click="prCtrl.copyCompose('email-container')">Copy & Compose</button>
        </section>
      </tab>

      <tab>
        <tab-heading>
          Mail to
        </tab-heading>
        <header>Setting Emails</header>
        <form class="form">
          <div class="form-group">
            <label class="control-label" for="email_to">Email to</label>
            <input type="text" class="form-control" id="email_to" ng-model="prCtrl.emailTo">
          </div>

          <div class="form-group">
            <label class="control-label" for="email_cc">CC</label>
            <input type="text" class="form-control" id="email_cc" ng-model="prCtrl.emailCC">
          </div>

          <div class="form-group">
            <label class="control-label" for="email_bcc">BCC</label>
            <input type="text" class="form-control" id="email_bcc" ng-model="prCtrl.emailBCC">
          </div>

          <div class="form-group">
            <label class="control-label" for="domainName">Domain name</label>
            <input type="text" class="form-control" id="domainName" ng-model="prCtrl.domainName">
          </div>
        </form>
      </tab>

      <tab>
        <tab-heading>
          Project
        </tab-heading>
        <header>Project Info</header>
        <div class="form-group">
          <label class="control-label" for="projectName">Project Name</label>
          <input type="text" class="form-control" id="projectName" ng-model="prCtrl.projectName">
        </div>

        <div class="form-group">
          <label class="control-label" for="recipients">Recipients name</label>
          <input type="text" class="form-control" id="recipients" ng-model="prCtrl.recipients">
        </div>
      </tab>

      <tab>
        <tab-heading>
          Billables
        </tab-heading>
        <header>Setting billable info</header>
        <form class="form">
          <div class="form-group">
            <label class="control-label" for="week-bills">Week bills</label>
            <input type="text" class="form-control" id="week-bills" ng-model="prCtrl.weekBills">
          </div>

          <div class="form-group">
            <label class="control-label" for="month-bills">Month bills</label>
            <input type="text" class="form-control" id="month-bills" ng-model="prCtrl.monthBills">
          </div>
        </form>
      </tab>

      <tab>
        <tab-heading>
          Team
        </tab-heading>

        <section>
          <article>
            <header>Team Name</header>
            <section class="form-group">
              <input type="text" class="form-control" id="teamName" ng-model="prCtrl.teamName">
            </section>
          </article>

          <article>
            <header>Team Members</header>
            <ul>
              <li ng-repeat='member in prCtrl.members'> <span>
                {{member.name}} ({{member.email}}) ({{member.bill}} billable day)
              </span>
              <a href="#" ng-click="prCtrl.deleteMember(member)">remove</a>
              </li>
            </ul>

            <form class="form" ng-submit="prCtrl.addMember()">
              <div class="form-group">
                <label class="control-label">New member</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Username" ng-model="prCtrl.newUserName" id="new-user-name">
                  <span class="input-group-addon" id="sizing-addon2">@</span>
                  <input type="text" class="form-control" placeholder="Domain" ng-model="prCtrl.currentEmailDomain">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Add</button>
                  </span>
                </div>
              </div>
            </form>
          </article>
        </section>
      </tab>

      <tab>
        <tab-heading>
          Template
        </tab-heading>
        <textarea elastic class="template" ng-model="prCtrl.template"></textarea> <br>
      </tab>
    </tabset>

    <hr />

  </body>

  <script type="text/ng-template" id="templateId.html">
    <p>This is the content of the template</p>
  </script>
</html>

