<!doctype html>
<html ng-app='myModule' ng-csp>
  <head>
    <title>Pivotal Tracker Email Reporter</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href"css/angular-csp.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ace-builds/src-noconflict/ace.js"></script>
    <script src="bower_components/ace-builds/src-noconflict/ext-language_tools.js"></script>
    <script src="bower_components/ace-builds/src-noconflict/mode-ejs.js"></script>
    <script src="bower_components/ace-builds/src-noconflict/theme-tomorrow.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="js/popup.js"></script>
  </head>
  <body ng-controller='prController as prCtrl'>
    <tabset>
      <tab heading="Justified" select="prCtrl.select(0)" active="prCtrl.tabActivity[0]">
        <tab-heading>
          Commit message
        </tab-heading>
        <h4>Generated message</h4>
        <section id='commit-messages'>
          <p ng-show="prCtrl.todos && (typeof prCtrl.todos == 'Array') && prCtrl.todos.length > 0">
            Please select some stories to generate message.
          </p>
          <ul>
            <li class='commit-message' ng-repeat='todo in prCtrl.todos'>
              <div>[f] - {{todo.name}}</div>
              <div>[<a href="{{todo.url}}" target="_blank">{{todo.url}}</a>]</div>
              <br>
            </li>
          </ul>
        </section>
        <hr>
        <section>
          <button class="btn btn-success pull-right" ng-click="prCtrl.copy('commit-messages')">Copy</button>
        </section>
      </tab>

      <tab heading="Justified" select="prCtrl.select(1)" active="prCtrl.tabActivity[1]">
        <tab-heading>
          Email
        </tab-heading>
        <h4>Generated email</h4>
        <section>
          <div id="email-container" compile="prCtrl.template"></div>
        </section>
        <hr>
        <section class="clearfix">
          <button class="btn btn-success pull-right" ng-click="prCtrl.copyCompose('email-container')">Copy & Compose</button>
          <button class="btn btn-warning pull-right" ng-click="prCtrl.copy('email-container')">Copy</button>
        </section>
      </tab>

      <tab heading="Justified" select="prCtrl.select(2)" active="prCtrl.tabActivity[2]">
        <tab-heading>
          Mail to
        </tab-heading>
        <h4>Setting Emails</h4>
        <form class="form">
          <div class="form-group">
            <label class="control-label" for="email_to">Email to</label>
            <input type="text" class="form-control" id="email_to" ng-model="prCtrl.emailTo">
          </div>

          <div class="form-group">
            <label class="control-label" for="email_cc">CC</label>
            <input type="text" class="form-control" id="email_cc" ng-model="prCtrl.emailCC">
          </div>

          <div class="form-group">
            <label class="control-label" for="email_bcc">BCC</label>
            <input type="text" class="form-control" id="email_bcc" ng-model="prCtrl.emailBCC">
          </div>
        </form>

        <hr />
        <section class="clearfix">
          <button class="btn btn-primary pull-right" ng-click="prCtrl.saveMailTo()">Save</button>
        </section>
      </tab>

      <tab heading="Justified" select="prCtrl.select(3)" active="prCtrl.tabActivity[3]">
        <tab-heading>
          Project
        </tab-heading>
        <h4>Project Info</h4>
        <div class="form-group">
          <label class="control-label" for="projectName">Project Name</label>
          <input type="text" class="form-control" id="projectName" ng-model="prCtrl.projectName">
        </div>

        <div class="form-group">
          <label class="control-label" for="recipients">Product owners</label>
          <input type="text" class="form-control" id="recipients" ng-model="prCtrl.recipients">
        </div>

        <hr />
        <section class="clearfix">
          <button class="btn btn-primary pull-right" ng-click="prCtrl.saveProject()">Save</button>
        </section>
      </tab>

      <tab heading="Justified" select="prCtrl.select(4)" active="prCtrl.tabActivity[4]">
        <tab-heading>
          Bills
        </tab-heading>
        <h4>Setting Bill Count</h4>
        <div class="form-group">
          <label class="control-label" for="disabledInput">Old Week Bill Count</label>
          <input class="form-control" id="disabledInput" type="text" placeholder="{{prCtrl.oldWeekBills}}" disabled="">
        </div>

        <div class="form-group">
          <label class="control-label" for="disabledInput">Old Month Bill Count</label>
          <input class="form-control" id="disabledInput" type="text" placeholder="{{prCtrl.oldMonthBills}}" disabled="">
        </div>

        <div class="form-group">
          <label class="control-label">Recorded at</label>
          <p class="input-group">
            <input type="text" class="form-control" ng-model="prCtrl.lastUpdateBillCount" disabled=""/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" disabled=""><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>

        <form class="form">
          <div class="form-group">
            <label class="control-label" for="week-bills">Today Week bills Computed</label>
            <input type="text" class="form-control" id="week-bills" ng-model="prCtrl.weekBills">
          </div>

          <div class="form-group">
            <label class="control-label" for="month-bills">Today Month bills Computed</label>
            <input type="text" class="form-control" id="month-bills" ng-model="prCtrl.monthBills">
          </div>
        </form>

        <hr />
        <section class="clearfix">
          <button class="btn btn-primary pull-right" ng-click="prCtrl.saveBillables()">Save</button>
        </section>
      </tab>

      <tab heading="Justified" select="prCtrl.select(5)" active="prCtrl.tabActivity[5]">
        <tab-heading>
          Team
        </tab-heading>
        <h4>Team Info</h4>
        <section>
          <section class="form-group">
            <label class="control-label" for="teamName">Team Name</label>
            <input type="text" class="form-control" id="teamName" ng-model="prCtrl.teamName">
          </section>

          <article>
            <header>Team Members</header>
            <ul>
              <li ng-repeat='member in prCtrl.members'> <span>
                {{member.name}} ({{member.email}}) ({{member.bill}} billable day)
              </span>
              <a href="#" ng-click="prCtrl.deleteMember(member)">remove</a>
              </li>
            </ul>

            <form class="form" ng-submit="prCtrl.addMember()">
              <div class="form-group">
                <label class="control-label">New member</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="jon.snow" ng-model="prCtrl.newUserName" id="new-user-name">
                  <span class="input-group-addon" id="sizing-addon2">@</span>
                  <input type="text" class="form-control" placeholder="Domain" ng-model="prCtrl.currentEmailDomain">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Add</button>
                  </span>
                </div>
              </div>
            </form>
          </article>
        </section>

        <hr />
        <section class="clearfix">
          <button class="btn btn-primary pull-right" ng-click="prCtrl.saveTeam()">Save</button>
        </section>
      </tab>

      <tab heading="Justified" select="prCtrl.select(6)" active="prCtrl.tabActivity[6]">
        <tab-heading>
          Template
        </tab-heading>
        <h4>Email template</h4>
        <div class="ace-editor" ui-ace="prCtrl.editorOptions" ng-model="prCtrl.template"></div>
        <hr />
        <section class="clearfix">
          <button class="btn btn-primary pull-right" ng-click="prCtrl.saveTemplate()">Save</button>
        </section>
      </tab>
    </tabset>

  </body>
</html>

