<!doctype html>
<html ng-app='myModule' ng-csp>
  <head>
    <title>Pivotal Tracker Email Reporter</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="css/angular-csp.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/mode-ejs.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/theme-chrome.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.min.js"></script>
    <script src="js/popup.js"></script>
  </head>
  <body ng-controller='prController as prCtrl'>
    <tabset>
      <tab>
        <tab-heading>
          Commit message
        </tab-heading>

        <section id='commit-messages'>
          <ul>
            <li class='commit-message' ng-repeat='todo in prCtrl.todos'>
              <div>[?] - {{todo.name}}</div>
              <div>[<a href="{{todo.url}}" target="_blank">{{todo.url}}</a>]</div>
              <br>
            </li>
          </ul>
        </section>
        <hr>
        <section>
          <button class="btn btn-success pull-right" ng-click="prCtrl.copy('commit-messages')">Copy</button>
        </section>
      </tab>

      <tab>
        <tab-heading>
          Email
        </tab-heading>
        <section>
          <div id="email-container" compile="prCtrl.template"></div>
        </section>
        <hr>
        <section>
          <button class="btn btn-success pull-right" ng-click="prCtrl.copyCompose('email-container')">Copy & Compose</button>
          <button class="btn btn-warning pull-right" ng-click="prCtrl.copy('email-container')">Copy</button>
        </section>
      </tab>

      <tab>
        <tab-heading>
          Mail to
        </tab-heading>
        <header>Setting Emails</header>
        <form class="form">
          <div class="form-group">
            <label class="control-label" for="email_to">Email to</label>
            <input type="text" class="form-control" id="email_to" ng-model="prCtrl.emailTo">
          </div>

          <div class="form-group">
            <label class="control-label" for="email_cc">CC</label>
            <input type="text" class="form-control" id="email_cc" ng-model="prCtrl.emailCC">
          </div>

          <div class="form-group">
            <label class="control-label" for="email_bcc">BCC</label>
            <input type="text" class="form-control" id="email_bcc" ng-model="prCtrl.emailBCC">
          </div>
        </form>

        <hr />
        <section>
          <button class="btn btn-primary pull-right" ng-click="prCtrl.saveMailTo()">Save</button>
        </section>
      </tab>

      <tab>
        <tab-heading>
          Project
        </tab-heading>
        <header>Project Info</header>
        <div class="form-group">
          <label class="control-label" for="projectName">Project Name</label>
          <input type="text" class="form-control" id="projectName" ng-model="prCtrl.projectName">
        </div>

        <div class="form-group">
          <label class="control-label" for="recipients">Product owners</label>
          <input type="text" class="form-control" id="recipients" ng-model="prCtrl.recipients">
        </div>

        <hr />
        <section>
          <button class="btn btn-primary pull-right" ng-click="prCtrl.saveProject()">Save</button>
        </section>
      </tab>

      <tab>
        <tab-heading>
          Bills
        </tab-heading>
        <header>Setting Bill Count</header>

        <div class="form-group">
          <label class="control-label" for="disabledInput">Old Week Bill Count</label>
          <input class="form-control" id="disabledInput" type="text" placeholder="{{prCtrl.oldWeekBills}}" disabled="">
        </div>

        <div class="form-group">
          <label class="control-label" for="disabledInput">Old Month Bill Count</label>
          <input class="form-control" id="disabledInput" type="text" placeholder="{{prCtrl.oldMonthBills}}" disabled="">
        </div>

        <div class="form-group">
          <label class="control-label" for="disabledInput">Recorded at</label>
          <input class="form-control" id="disabledInput" type="date" ng-model="prCtrl.lastUpdateBillCount" disabled="">
        </div>

        <form class="form">
          <div class="form-group">
            <label class="control-label" for="week-bills">Week bills now</label>
            <input type="text" class="form-control" id="week-bills" ng-model="prCtrl.weekBills">
          </div>

          <div class="form-group">
            <label class="control-label" for="month-bills">Month bills now</label>
            <input type="text" class="form-control" id="month-bills" ng-model="prCtrl.monthBills">
          </div>
        </form>

        <hr />
        <section>
          <button class="btn btn-primary pull-right" ng-click="prCtrl.saveBillables()">Save</button>
        </section>
      </tab>

      <tab>
        <tab-heading>
          Team
        </tab-heading>
        <header>Team Info</header>
        <section>
          <section class="form-group">
            <label class="control-label" for="teamName">Team Name</label>
            <input type="text" class="form-control" id="teamName" ng-model="prCtrl.teamName">
          </section>

          <!-- <section class="form-group">
            <label class="control-label" for="domainName">Domain name</label>
            <input type="text" class="form-control" id="domainName" ng-model="prCtrl.domainName">
          </section> -->

          <article>
            <header>Team Members</header>
            <ul>
              <li ng-repeat='member in prCtrl.members'> <span>
                {{member.name}} ({{member.email}}) ({{member.bill}} billable day)
              </span>
              <a href="#" ng-click="prCtrl.deleteMember(member)">remove</a>
              </li>
            </ul>

            <form class="form" ng-submit="prCtrl.addMember()">
              <div class="form-group">
                <label class="control-label">New member</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="jon.snow" ng-model="prCtrl.newUserName" id="new-user-name">
                  <span class="input-group-addon" id="sizing-addon2">@</span>
                  <input type="text" class="form-control" placeholder="Domain" ng-model="prCtrl.currentEmailDomain">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Add</button>
                  </span>
                </div>
              </div>
            </form>
          </article>
        </section>

        <hr />
        <section>
          <button class="btn btn-primary pull-right" ng-click="prCtrl.saveTeam()">Save</button>
        </section>
      </tab>

      <tab>
        <tab-heading>
          Template
        </tab-heading>
        <header>Email template</header>
        <div class="ace-editor" ui-ace="prCtrl.editorOptions" ng-model="prCtrl.template"></div>
        <hr />
        <section>
          <button class="btn btn-primary pull-right" ng-click="prCtrl.saveTemplate()">Save</button>
        </section>
      </tab>
    </tabset>

  </body>
</html>

